
	<form action="/encode", method="POST">
		<label> Encode: </label>
		<input type="text" name="word" required/>
		<div></div>
		<label> Offset: </label>
		<input type="text" name="offset" required/>
		<div></div>
		<input type="submit" name="Encode!">
	</form>

