<div>
	<h2>Encode:</h2>
	<form>
		<input type="text" name="word">
		<h2>Offset: </h2>
		<input type="text" name="offset">
		<input type="submit" name="Encode!">
	</form>
	<h3> <%= encoded %> </h3>
</div>
